{% extends 'core/base.html' %}

<!-- Tag Título-->
{% block tittle%}
Conocimiento
{% endblock %}

<!-- Tag Subtítulo -->
{%block subtitulo%}
<h1>Inicio</h1>
<span class="subheading">El conocimiento se actualiza todos los días</span>
{%endblock%}

<!-- Tag background-->
{% load static %}
{% block background %} {% static 'core/img/bg.jpg' %} {% endblock %}

<!-- Tag Contenido-->
{% block content %}

{% endblock %}

{%block introduccion %}
ed placerat justo ante, eget elementum magna aliquet nec. Maecenas egestas euismod egestas. Donec iaculis finibus tristique. Duis dignissim felis dolor, eget commodo diam feugiat eget. Quisque at elementum diam, ut lobortis turpis. Proin suscipit aliquam dolor
, eu consectetur magna ultricies sit amet. Mauris sit amet elit eros.
{%endblock%}